
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cyfonii - NFT Portfolio and Landing Page HTML Template</title>

    <!-- Styles -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />

    <link rel="stylesheet" href="/public/app/dist/aos.css" />
    <link rel="stylesheet" href="/public/app/dist/animate.css" />
    <link rel="stylesheet" href="/public/app/dist/app.css" />
    <!-- end Styles -->

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png" />
    <link
      rel="apple-touch-icon-precomposed"
      href="assets/images/logo/favicon.png"
    />
  </head>
<body class="home-main header-fixed">
<header id="header_main" class="header"></header>
<div class="container big">
          <div class="row">
            <div class="col-12">
              <div class="header__body">
                <div class="header__logo">
                  <a href="index.html">
                    <img
                      id="site-logo"
                      src="images/logo/btc-01.png"
                      alt="Peson"
                      width="160"
                      height="38"
                      data-retina="images/logo/btc-01.png"
                      data-width="160"
                      data-height="38"
                    />
                  </a>
                </div>

                <div class="header__right">
                  <nav id="main-nav" class="main-nav">
                    <ul id="menu-primary-menu" class="menu">
                      <li
                        class="menu-item menu-item-has-children menu-current-item"
                      >
                        <a href="/">Home</a>
                      </li>
                      <li class="menu-item menu-item-has-children">
                        <a href="#">Explore</a>
                        <ul class="sub-menu">
                          <li class="menu-item"><a href="nft.html">NFTs</a></li>
                        </ul>
                      </li>
                      <li class="menu-item">
                        <a href="/about">About</a>
                      </li>
                      <li class="menu-item">
                        <a href="/contact">Contact</a>
                      </li>
                    </ul>
                  </nav>
                  <div class="mobile-button"><span></span></div>
                </div>

                <div class="header__action">
                  <a href="#" class="search-btn">
                    <svg
                      width="21"
                      height="21"
                      viewBox="0 0 21 21"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle
                        cx="9.7659"
                        cy="9.76639"
                        r="8.98856"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M16.0176 16.4849L19.5416 19.9997"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                  <a href="/login" class="action-btn"><span>Login</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      </body>
      </html>